.preview-img {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.preview-img:hover {
    cursor: pointer;
}

.img-close {
    position: absolute;
    color: red;
    width: 200px;
    height: 200px;
    top: 0;
    font-size: 30px;
    opacity: 0;
    background: black;
    text-align: center;
}

.img-close:hover {
    cursor: pointer;
    opacity: 0.7;
}
