.card-product {
    width: 25%;
    /*height: 275px;*/
    padding: 12px;
    position: relative;
}

.card-price {
    position: absolute;
    bottom: 17px;
    left: 18px;
    background: #4a4a4a; border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 14px;
    color: #d9d9d9;
    font-size: 13px;
}

.price-table {
    color: #a53838;
    font-size: 16px;
    font-weight: bold;
}

.img-title {
    position: absolute;
    top: 12px;
    background-color: black;
    width: 90%;
    height: 90%;
    opacity: 0;
    color: white;
    padding: 10px;
    text-align: center;
    transition-property: opacity;
    transition-duration: .4s
}

.img-title:hover {
    opacity: 0.7
}

.home-image {
    width: 100%;
    height: 55rem;
}

.back-svg:hover {
    fill: black;
}

.add-buttom {
    border: solid 1px #bababa;
}

.add-buttom:hover {
    background: #bababa;
}

.input-add-qty {
    width: 40px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

input {
    outline: none;
}

.textarea-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

textarea:focus {
    outline: 0;
    box-shadow: none;
}

.bronze {
    color: #a17b48
}

footer {
    padding: 20px;
    /*background: #3b3b3b;*/
    background: #fff;
    width: 100%;
    height: 150px;
    position: relative;
}

.contact {
    display: block;
    /*color: #eaeaea;*/
}

.errors-forms {
    color: red;
}

.btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: none;
}

/*-----------------modal------------------*/
.modal__body {
    padding-right: 30px;
    padding-left: 30px;
}

.btn-close:focus {
    box-shadow: none;
}

@media (max-width: 1400px) {
    .home-image {
        height: 48rem;
    }
}

@media (max-width: 1200px) {
    .home-image {
        height: 41rem;
    }

    .card-product {
        width: 33%;
    }

    .my-sidebar {
        display: none;
    }

}

@media (max-width: 992px) {
    .home-image {
        display: none;
    }

    .card-product {
        width: 50%;
    }
}

@media (max-width: 768px) {

    /*.home-image {*/
    /*    height: 32rem;*/
    /*}*/

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 576px) {

    /*.home-image {*/
    /*    height: 32rem;*/
    /*}*/

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 540px) {

    .home-image {
        height: 22rem;
    }

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 411px) {

    .home-image {
        height: 16rem;
    }

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 414px) {

    .home-image {
        height: 16rem;
    }

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 360px) {

    .home-image {
        height: 14rem;
    }

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}

@media (max-width: 280px) {

    .home-image {
        height: 11rem;
    }

    /*.card-product {*/
    /*    width: 50%;*/
    /*}*/
}
